.bg-container{
	background: rgb(174,174,174);
	background: radial-gradient(circle, rgba(174,174,174,1) 0%, rgba(211,211,211,1) 6%, rgba(180,190,190,1) 37%);
	min-height: 100vh
}
.game-head{
	color: #9d2ebf;
}
.game-start-head{
	font-size: 1.3em;
}

.flip-horizontally{
	transform: scaleX(-1);
}
.card-button{
	background: transparent;
}

hr{
	height: 1px;
	background-color: #fff;
	align-self: stretch;
}
.game-card-heading{
	font-size: 1.3em;
}
.game-score{
	font-size: 3em;
